@import url(font.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 400;
}
.align-center {
  text-align: center;
}

/* ================ skip navigation  ================ */
.skip-nav {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* ================ custom  ================ */
html {
  height: 100%;
  font-size: 10px;
  color: #404040;
}
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
}

* {
  box-sizing: border-box;
}
a {
  color: #404040;
  text-decoration: none;
}
hr {
  height: 0;
  margin: 10px 0;
  border: 0;
  border-top: #dedede 1px solid;
}
.hr {
  height: 10px;
  background: #efe9eb;
}
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.clear {
  clear: both;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.mask.block {
  display: block;
}

.dim-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.dim-layer.block {
  display: block;
}
.overflow {
  overflow-y: hidden;
}
.tip {
  position: relative;
}
.icon-tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border: 1px #f0f0f0 solid;
  border-radius: 100%;
  background: #fff url(../images/icon_help.png) no-repeat center;
  background-size: 6px 11px;
  color: transparent;
  vertical-align: middle;
}
.icon-tooltip:after {
  display: none;
  content: "attr(data-content)";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 18px;
  height: 11px;
  margin-left: -9px;
  background: url(../images/tooltip_arrow.png) no-repeat;
  background-size: contain;
}
.tooltip {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  padding: 20px;
  background: #fff;
  border: 2px #a50034 solid;
  border-radius: 10px;
  text-align: left;
  z-index: 10;
}

/* ================ layout  ================ */
.wrap {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: auto;
}
.content-wrap {
  width: 100%;
  margin-top: 80px;
  padding: 0 20px 50px 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  transition: all ease 1s 0s;
  z-index: 1000;
}
.header h1 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #222;
  line-height: 50px;
}
.header h1.logo {
  display: block;
  width: 158px;
  height: 28px;
  margin: 12px 0 0 16px;
  background: url(../images/top_logo.svg) no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.5s 0s;
}
.header .btn-back {
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-left: 15px;
  margin-right: 5px;
  background: url(../images/icon_back.png) no-repeat;
  background-size: contain;
}
.header .aside-menu {
  position: absolute;
  overflow: hidden;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 18px;
  background: url(../images/icon_full.png) no-repeat;
  background-size: contain;
  color: transparent;
  transition: all ease-in-out 0.5s 0s;
}
