i {
    display:inline-block;
    width:100%;
    height:100%;
    vertical-align: middle;
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}
.invert {
    filter: brightness(0) invert(1);
}
i.menu {background-image:url('/static/assets/common/img/icon/menu.png');}
i.gear {background-image:url('/static/assets/common/img/icon/gear.png');}
i.search {background-image:url('/static/assets/common/img/icon/search.png');}
i.chat {background-image:url('/static/assets/common/img/icon/chat.png');}
i.chart {background-image:url('/static/assets/common/img/icon/chart.png');}
i.home {background-image:url('/static/assets/common/img/icon/home.svg');}
i.mic {background-image:url('/static/assets/common/img/icon/mic.png');}
i.class {background-image:url('/static/assets/common/img/icon/class.svg');}
i.user {background-image:url('/static/assets/common/img/icon/user.svg');}
i.scene {background-image:url('/static/assets/common/img/icon/scene.svg');}
i.checked {background-image:url('/static/assets/common/img/icon/checked.png');}
i.complete {background-image:url('/static/assets/common/img/icon/complete.svg');}
i.swords {background-image:url('/static/assets/common/img/icon/swords.svg');}
i.close {background-image:url('/static/assets/common/img/icon/close.png');}
i.close2 {background-image:url('/static/assets/common/img/icon/close2.svg');}
i.next {background-image:url('/static/assets/common/img/icon/next.svg');}
i.back {background-image:url('/static/assets/common/img/icon/back.svg');}
i.up {background-image:url('/static/assets/common/img/icon/up.svg');}
i.down {background-image:url('/static/assets/common/img/icon/down.svg');}
i.plus {background-image:url('/static/assets/common/img/icon/plus.png');}

i.talk {background-image:url('/static/assets/common/img/icon/talk.svg');}
i.daily {background-image:url('/static/assets/common/img/icon/daily.svg');}
i.love {background-image:url('/static/assets/common/img/icon/love.svg');}
i.about {background-image:url('/static/assets/common/img/icon/about.svg');}



i.arrow-right {background-image:url('/static/assets/common/img/icon/arrow-right.svg');}
i.arrow-bottom {background-image:url('/static/assets/common/img/icon/arrow-bottom.svg');}

i.view {background-image:url('/static/assets/common/img/icon/view.png');}
i.like {background-image:url('/static/assets/common/img/icon/like.png');}
i.hate {background-image:url('/static/assets/common/img/icon/hate.png');}
i.reply {background-image:url('/static/assets/common/img/icon/reply.png');}
i.alert {background-image:url('/static/assets/common/img/icon/alert.png');}

i.list {background-image:url('/static/assets/common/img/icon/list.png');}
i.bookmark {background-image:url('/static/assets/common/img/icon/bookmark.png');}


i.star {background-image:url('/static/assets/common/img/icon/star.png');}
i.star-on {background-image:url('/static/assets/common/img/icon/star_on.png');}
i.star-line {background-image:url('/static/assets/common/img/icon/star_line.png');}


i.AI {background-image:url('/static/assets/common/img/icon/ai.png');}
i.notice {background-image:url('/static/assets/common/img/icon/notice.png');}
i.share {background-image:url('/static/assets/common/img/icon/share.png');}
i.board {background-image:url('/static/assets/common/img/icon/board.png');}
i.test {background-image:url('/static/assets/common/img/icon/test.png');}
i.lock {background-image:url('/static/assets/common/img/icon/lock.svg');}



i.airport {background-image:url('/static/assets/common/img/icon/airport.svg');}
i.shopping {background-image:url('/static/assets/common/img/icon/shopping.svg');}
i.restaurant {background-image:url('/static/assets/common/img/icon/restaurant.svg');}
i.business {background-image:url('/static/assets/common/img/icon/business.svg');}
i.travel {background-image:url('/static/assets/common/img/icon/travel.svg');}


i.time {background-image:url('/static/assets/common/img/icon/time.svg');}
i.play {background-image:url('/static/assets/common/img/icon/play.svg');}
i.leveltest.play {background-image:url('/static/assets/common/img/icon/icon_review_play.svg');}
i.stop {background-image:url('/static/assets/common/img/icon/stop.svg');}
i.share {background-image:url('/static/assets/common/img/icon/share.svg');}
i.refresh {background-image:url('/static/assets/common/img/icon/refresh.svg');}
i.pause {background-image:url('/static/assets/common/img/icon/pause.svg');}
i.book {background-image:url('/static/assets/common/img/icon/book.svg');}
i.chat-arrow {background-image:url('/static/assets/common/img/icon/chat_arrow.svg');}
i.top-arrow {background-image:url('/static/assets/common/img/icon/top_arrow.svg');}
i.speaker {background-image:url('/static/assets/common/img/icon/speaker.svg');}
i.checker {background-image:url('/static/assets/common/img/icon/checker.svg');}
i.check {background-image:url('/static/assets/common/img/icon/check.svg');}
i.copy {background-image:url('/static/assets/common/img/icon/copy.png');}


