html {
    height: 100%;
    color: #222;
    font-size: 62.5%;
    font-family: "Noto Sans KR", "Noto Sans SC", sans-serif;
}
@media all and (max-width: 768px) {
    html {
        font-size: 2.666667vmin;
    }
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #222;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
strong {
    font-weight: 700;
}
em {
    font-weight: 700;
}

/* --------------------------- 2023-03-27 -------------------------- */
#wrap {
    height: 100%;
    background: #fff;
}

.is-show {
    display: block !important;
}
.is-hide {
    display: none !important;
}

.btn-group > [class*="c-btn-"] + [class*="c-btn-"] {
    margin-left: 0.8rem;
}

[class*="c-btn-"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    letter-spacing: -0.04em;
}
[class*="c-btn-"].disabled,
[class*="c-btn-"]:disabled {
    background: #ddd;
    color: #fff;
}
[class*="c-btn-primary"] {
    background: #3b3fb5;
    color: #fff;
}
[class*="c-btn-secondary"] {
    background: #d4dfff;
    color: #3b3fb5;
}
[class*="c-btn-outline"] {
    border: 1px #3b3fb5 solid;
    background: #fff;
    color: #3b3fb5;
}
.c-btn-primary-block,
.c-btn-secondary-block {
    width: 100%;
    height: 6.4rem;
    font-size: 2rem;
    font-weight: 700;
}
.c-btn-primary-l,
.c-btn-secondary-1,
.c-btn-outline-l {
    width: 30rem;
    height: 6.4rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.c-btn-primary-m,
.c-btn-secondary-m {
    width: 18rem;
    height: 5.2rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.c-btn-primary-s,
.c-btn-secondary-s {
    height: 4.2rem;
    border-radius: 0.4rem;
    font-weight: 700;
}
.c-btn-primary-block.disabled,
.c-btn-primary-l.disabled,
.c-btn-secondary-1.disabled {
    background: #ddd;
    color: #fff;
}

@media all and (max-width: 768px) {
    .c-btn-primary-block {
        height: 5.6rem;
        font-size: 1.6rem;
    }
    .c-btn-primary-l,
    .c-btn-secondary-1,
    .c-btn-outline-l {
        flex: 1;
        height: 5.6rem;
        font-size: 1.6rem;
    }
    .c-btn-primary-m,
    .c-btn-secondary-m {
        height: 4.8rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

/* ----------------- input ------------------ */

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    height: 4.8rem;
    padding-left: 1.2rem;
    border: 1px #d9d9d9 solid;
    border-radius: 0.4rem;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="number"]:focus,
input[type="password"]:focus,
text {
    border: 1px #222 solid;
}
::placeholder {
    font-size: 1.4rem;
    color: #999;
    letter-spacing: -0.03em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.inp-form {
    position: relative;
    display: flex;
    align-items: center;
}
.inp-form [class*="c-btn"] {
    /* flex: 1 0 auto; */
    height: 4.8rem;
    margin-left: 0.8rem;
    padding: 0 1.6rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    vertical-align: middle;
}
.inp-pin-group.is-error .t-inp,
.inp-form.is-error .t-inp {
    border: 1px #b83777 solid;
}

.btn-input-clear {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background: url("../img/icon-input-close.png") 0 0 / 100% no-repeat;
    font-size: 1px;
    color: transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.i-input-check {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background: #120ed6 url("../img/icon-check.svg") center center / 1rem 0.8rem no-repeat;
    font-size: 1px;
    color: transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-es {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #b83777;
    border-radius: 100%;
    vertical-align: top;
}
label,
.t-lable {
    display: inline-block;
}
label .is-es,
.t-label .is-es {
    margin-left: 0.4rem;
}
/* 2023-04-07 추가 */
.txt-msg {
    display: none;
    position: relative;
    margin-top: 0.8rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.txt-msg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
}
.txt-msg.error {
    color: #b83777;
}
.txt-msg.error:before {
    background: url("../img/icon-error.svg") no-repeat 100%;
}
.inp-fieldset.is-error .txt-msg,
.inp-form.is-error + .txt-msg {
    display: block;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modal-dim {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-container {
    overflow: hidden;
    width: 42.2rem;
    border-radius: 1.6rem;
    background: #fff;
}
.modal-header {
    position: relative;
    padding: 2rem 2.4rem;
    border-bottom: 1px #222 solid;
}
.modal-header .modal-close {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../img/icon-modal-close.svg") 0 0 / 100% 100% no-repeat;
    font-size: 1px;
    color: transparent;
    transform: translateY(-50%);
}
.modal-header .modal-title {
    font-size: 2.2rem;
    font-weight: 700;
}
.modal-body {
    overflow: auto;
    max-height: 50rem;
}

.modal-body .modal-inner {
    padding: 2.4rem;
}
.modal-body .alert-thumb {
    width: 9.2rem;
    height: 9.2rem;
    margin: 0 auto 1.2rem;
}
.modal-body .alert-thumb img {
    width: 100%;
}

.modal-footer {
    overflow: hidden;
    border-radius: 0 0 1.6rem 1.6rem;
}
.modal-footer .modal-btn-group {
    display: flex;
}
.modal-footer .modal-btn-group .footer-btn {
    height: 5.2rem;
    flex: 1;
    border-radius: 0;
    font-size: 1.8rem;
    font-weight: 700;
}
.modal-footer .modal-btn-group .footer-btn + .footer-btn {
    margin-left: 0.8rem;
}
.modal-footer .modal-btn-group .footer-btn.lg {
    height: 6.2rem;
}
.modal-alert .modal-header {
    border-bottom: 1px #d9d9d9 solid;
}
.modal-alert .modal-body {
    padding: 2rem 2.4rem 4rem 2.4rem;
}
.modal-alert .alert-container {
    text-align: center;
}
.modal-alert .alert-container.al-left {
    text-align: left;
}
.modal-alert .alert-container .main-txt {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.modal-body .alert-container .desc-txt {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.04em;
}
.modal-alert .alert-container .desc-txt .em {
    color: #b83777;
}
.modal-alert .modal-footer .modal-btn-group .footer-btn.lg {
    height: 5.2rem;
}
.modal-popup .popup-container {
    padding: 4rem 4rem 6rem;
}
.modal-popup .popup-container .text-center {
    text-align: center;
}
.modal-popup .popup-container .main-txt {
    margin-top: 4rem;
    font-family: "Jua", sans-serif;
    font-size: 3.6rem;
    color: #3b3fb5;
    line-height: 4.3rem;
}
.modal-popup .popup-container .desc-txt {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: -0.04em;
}

@media all and (max-width: 768px) {
    .modal-footer .modal-btn-group .c-btn-secondary {
        border: 1px #3b3fb5 solid;
        background: #fff;
    }
    .modal-popup .modal-dim {
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
    }
    .modal-popup .modal-container {
        width: 100%;
        border-radius: 0;
    }
    .modal-popup .modal-header {
        border-bottom: 1px #e6e6e6 solid;
    }
    .modal-popup .modal-body {
        max-height: calc(100% - 15.5rem);
    }
    .modal-popup .popup-container {
        padding: 4rem 2rem;
    }
    .modal-popup .popup-container .main-txt {
        margin-top: 2.4rem;
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
    .modal-popup .modal-footer .modal-btn-group .footer-btn {
        height: 5.2rem;
        border-radius: 0.8rem;
        font-size: 1.6rem;
    }
    .modal-alert .modal-header {
        height: 3.6rem;
        border: 0;
    }

    .modal-alert .modal-header .modal-title {
        display: none;
    }
    .modal-alert .modal-body {
        padding: 2rem;
    }
    .modal-alert .modal-container {
        margin: 0 4.6rem;
    }
    .modal-alert .modal-footer {
        padding: 0 2rem 2rem 2rem;
    }
    .modal-alert .modal-footer .footer-btn {
        height: 4.8rem;
        border-radius: 0.8rem;
        font-size: 1.4rem;
    }
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fixed-btn {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 0;
    padding: 2rem;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
}
/* popup 휴면 계정 해제 */
.dm-date {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 1px #d9d9d9 solid;
    font-size: 1.4rem;
    color: var(--color-gray6);
    line-height: 2rem;
    text-align: center;
}
/* popup 비밀번호 변경 */
.pop-form {
    margin-top: 3.2rem;
}
.pop-form .form-box + .form-box {
    margin-top: 3.2rem;
}
.pop-form .form-box .t-label {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    color: var(--color-gary6);
    line-height: 2rem;
}
.pop-form .form-box .inp-fieldset + .inp-fieldset {
    margin-top: 0.8rem;
}
