/* ================ 공지팝업  ================ */
.notice-pop {
  display: none;
  position: fixed;
  width: 80%;
  height: 400px;
  max-height: 420px;
  left: 50%;
  margin-left: -40%;
  padding-bottom: 50px;
  border-radius: 10px;
  background: #fff;
  z-index: 1100;
}
.notice-pop .np-content {
  padding: 45px 20px;
  font-family: "LGSmart", sans-serif;
}
.notice-pop .np-content .title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px #dedede solid;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}
.notice-pop .np-content .title i {
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background: url(../images/pop_title_arrow.png) no-repeat;
  background-size: 20px 20px;
}
.notice-pop .np-content .cont {
  overflow-y: auto;
  max-height: 200px;
  line-height: 1.4;
}
.notice-pop .np-btn {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: #702076;
}
.notice-pop .np-btn.red {
  background: #a50034;
}
.notice-pop .np-btn a {
  flex: 1 1 auto;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  line-height: 50px;
}
.notice-pop .np-btn .btn-today-close {
  /* width: 60%; */
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
}

/* ================ 전체메뉴  ================ */
.drawer-menu {
  /* display: none; */
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index: 2000;
}
.drawer-menu .drawer-top {
  height: 180px;
  padding: 20px;
  background: #702076;
}
.drawer-menu .drawer-top .logo {
  width: 112px;
  height: 15px;
  background: url(../images/top_logo_white.svg) no-repeat;
  background-size: contain;
}
.drawer-top .user-group {
  position: relative;
  margin-top: 35px;
  color: #fff;
  text-align: center;
}
.drawer-top .user-group .u-name {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}
.drawer-top .user-group .u-carname {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}
.drawer-top .user-group > a {
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 24px;
  color: transparent;
}
.drawer-top .user-group .u-logout {
  margin-right: 10px;
  background: url(../images/icon_logout.png) no-repeat center;
  background-size: 20px 24px;
}
.drawer-top .user-group .u-setting {
  background: url(../images/icon_user_setting.png) no-repeat center;
  background-size: 20px 24px;
}
.drawer-top .user-photo {
  position: absolute;
  top: -30px;
  right: 0px;
}
.drawer-top .user-photo .u-thumb {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f7f7f7 url(../images/icon_profile.png) no-repeat center;
  background-size: 100%;
  overflow: hidden;
}
.drawer-top .user-photo .u-thumb img {
  width: 100%;
}
.drawer-top .user-photo .plus {
  position: absolute;
  bottom: 2px;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #f4ad04;
  color: #fff;
}
.gnb-menu > li {
  padding: 20px;
  border-bottom: 1px #eaeaea solid;
}
.gnb-menu > li:last-chald {
  border-bottom: 0;
}
.gnb-menu > li h2 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
/* .gnb-menu > li h2::before{
	display: inline-block;
    content: "·";
    margin-right: 4px;
} */
.gnb-menu .sub-menu {
  overflow: hidden;
}
.gnb-menu .sub-menu li {
  width: 50%;
  float: left;
}
.gnb-menu .sub-menu a,
.gnb-menu > li h2 + a {
  line-height: 1.4;
}
.gnb-menu .block li {
  width: 100%;
  line-height: 1.5;
}
/* .gnb-menu .block li a:before{
	display: inline-block;
    content: "·";
    margin-right: 6px;
} */

/* ================ main  ================ */
.main-area {
  position: relative;
  margin-bottom: 50px;
}
.main-top {
  /* margin-bottom: 30px; */
  font-family: "LGSmart", sans-serif;
}
.main-top .user-info {
  display: flex;
  align-items: center;
  margin: 20px 20px 10px 20px;
}
.main-top .user-info .photo {
  flex: none;
  width: 62px;
  height: 62px;
  margin-right: 10px;
}
.main-top .user-info .photo .btn_fileUp {
  width: 62px;
  height: 62px;
  border: 1px #eaeaea solid;
  border-radius: 100%;
  background: #f7f7f7 url(../images/icon_profile.png) no-repeat center;
  background-size: 100%;
}

.main-top .user-info .photo img {
  width: 100%;
}
.main-top .user-info .inner-info {
  flex: 1 1 auto;
}
.main-top .user-info .inner-info .date {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #9a9a9a;
}
.main-top .user-info .inner-info .name {
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.main-top .user-info .inner-info .car {
  padding: 2px 10px;
  border: 1px #eaeaea solid;
  border-radius: 12.5px;
  font-size: 13px;
}
.tab-container {
  margin: 0 10px;
  padding: 0 20px;
  border-radius: 0 15px 0 15px;
  background: #3c3c3c;
}
.info-tab {
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
}
.info-tab a {
  margin: 0 10px;
  color: #a7a9ac;
  line-height: 50px;
}
.info-tab a.active {
  font-weight: 400;
  color: #fff;
}
.basic-section1 {
  margin-bottom: 30px;
  border-bottom: 1px #f0f0f0 solid;
}
.car-info {
  display: flex;
  align-items: center;
  padding: 25px 0 35px;
  border-top: 1px #f0f0f0 solid;
}
.car-info .car-date span,
.car-info .car-mileage span {
  display: block;
}
.car-info .car-date {
  width: 45%;
  padding-left: 45px;
}
.car-info .car-date .tit,
.car-info .car-mileage .tit {
  font-size: 14px;
  font-weight: 400;
}
.car-info .car-date .date {
  font-size: 14px;
}
.car-info .car-mileage {
  position: relative;
  width: 55%;
  border-left: 1px #f0f0f0 solid;
}
.car-info .car-mileage .tit {
  padding-left: 45px;
}
.car-info .car-mileage .mileage {
  margin-top: 8px;
  padding-left: 45px;
}
.car-info .car-mileage .mileage em {
  margin-right: 4px;
  font-family: "LGSmart", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #dd0d89;
}
.car-info .car-mileage .error {
  margin-top: 3px;
  color: #dd0d89;
  text-align: center;
}
.car-info .car-mileage .error .icon-tooltip {
  vertical-align: bottom;
}
.car-info .car-mileage .tooltip {
  top: 50px;
}

@media (max-width: 320px) {
  .car-info .car-mileage .tit,
  .car-info .car-mileage .mileage {
    padding-left: 25px;
  }
}

.basic-section2 {
  padding: 0 20px;
}
.safety-grade {
  position: relative;
  margin-bottom: 30px;
}
.safety-grade .icon {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 36px;
  height: 36px;
  background: #f7f8fc url(../images/icon_safety.png) no-repeat center;
  background-size: contain;
  border-radius: 100%;
}
.safety-grade .cont {
  padding: 0 60px 0 55px;
}
.safety-grade .tit {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
}
.safety-grade .cont .icon-tooltip {
  vertical-align: top;
}
.safety-grade .cont .txt {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #9a9a9a;
}
.safety-grade .grade {
  position: absolute;
  bottom: 0;
  right: 12px;
  width: 56px;
  height: 56px;
  border-radius: 20px 0 20px 0;
  background: #dd0d89;
  font-size: 38px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
@media (max-width: 359px) {
  .safety-grade .icon {
    display: none;
  }
  .safety-grade .cont {
    padding-left: 8px;
  }
}
.car-use {
  margin-bottom: 20px;
}
.unit-box {
  min-height: 70px;
  padding: 24px 20px;
  margin-bottom: 10px;
  border: 1px #eaeaea solid;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 1px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 0px 2px 6px 1px rgba(51, 51, 51, 0.1);
}
.unit-box .tit {
  font-weight: 400;
  color: #222;
}
.unit-box .progress-bar {
  clear: both;
  margin-top: 10px;
}

.unit-box .btn-tip {
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border: 1px #f0f0f0 solid;
  border-radius: 100%;
  background: #fff url(../images/bul_tip_down.png) no-repeat center;
  background-size: 11px 8px;
  color: transparent;
  vertical-align: top;
}
.unit-box .btn-tip.up {
  background: #fff url(../images/bul_tip_up.png) no-repeat center;
  background-size: 11px 8px;
}

.unit-box .num {
  float: right;
  font-size: 14px;
  color: #979797;
}
.unit-box .num .pos {
  position: relative;
}
.unit-box .num strong {
  font-family: "LGSmart", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.unit-box .num .pos i {
  position: absolute;
  display: block;
  top: -12px;
  left: 50%;
  width: 5px;
  height: 5px;
  margin-left: -3px;
  background: #c9cbcf;
  border-radius: 100%;
}
.unit-box .num .pos i.left-dot {
  background: #ff6384;
}
.unit-box .num .pos i.right-dot {
  background: #c9cbcf;
}
@media (max-width: 320px) {
  .unit-box.xs .tit {
    font-size: 14px;
  }
  .unit-box.xs .num .pos strong {
    font-size: 16px;
  }
}
.unit-box .num .bul-txt {
  padding: 0 2px;
  font-size: 20px;
  color: #222;
}
.unit-box .num em {
  margin-right: 15px;
  font-weight: 400;
  color: #404040;
}
.unit-box .tip {
  display: none;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px #eaeaea solid;
  line-height: 1.4;
}
.unit-box .inner-tit {
  margin-bottom: 10px;
}
.basic-section3 {
  position: relative;
}
.slide-container {
  padding: 0 20px;
}
.slide-banner {
  position: relative;
  height: 192px;
  padding-top: 35px;
  border-radius: 15px;
  text-align: center;
}
.slide-banner > span {
  display: block;
  text-align: center;
}
.slide-banner .label {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 400;
  color: #222;
}
.slide-banner .txt {
  margin-bottom: 20px;
  font-size: 14px;
  color: #9a9a9a;
}
.slide-banner .price {
  position: relative;
  display: inline-block;
  height: 55px;
  padding: 0 40px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #fff;
  font-size: 26px;
  font-weight: 500;
  line-height: 55px;
}
.slide-banner .price .won {
  display: inline-block;
  width: 16px;
  height: 13px;
  margin-right: 5px;
  background: url(../images/bul_won.png) no-repeat;
  background-size: contain;
  font-size: 18px;
}
.slide-banner .price .ico {
  position: absolute;
  bottom: -10px;
  right: -30px;
  width: 62px;
  height: 62px;
}
.slide-banner.sf {
  background: #fdf7f9;
}
.slide-banner.sf .ico {
  background: url(../images/slide_icon_sf.png) no-repeat;
  background-size: contain;
}
.slide-banner.sc {
  background: #f7f6f7;
}
.slide-banner.sc .ico {
  background: url(../images/slide_icon_sc.png) no-repeat;
  background-size: contain;
}
.slide-banner .ab-txt {
  position: absolute;
  top: -10px;
  right: 20px;
  background: #fff;
}
.slide-btn {
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 20px;
  bottom: 20px;
  right: 30px;
  z-index: 100;
}
.slide-btn .btn {
  overflow: hidden;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #d80303;
  color: #fff;
  text-align: center;
}
.slide-btn .btn.hidden {
  display: none;
}
.slide-btn .play {
  font-size: 10px;
  line-height: 18px;
}
.slide-btn .stop {
  transform: rotate(90deg);
  font-weight: bold;
}
.slide-btn span {
  color: transparent;
}

/* ================ main 퇴화정보  ================ */
.car-lev {
  margin-bottom: 40px;
  border-top: 1px #dedede solid;
}
.car-lev > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}
.car-lev > ul > li {
  flex: 1 1 50%;
  padding: 25px 0;
}
.car-lev > ul > li:first-child,
.car-lev > ul > li:nth-child(2) {
  border-bottom: 1px #f0f0f0 solid;
}
.car-lev li span {
  display: block;
  text-align: center;
}
.car-lev li span.txt {
  font-size: 24px;
  font-weight: 400;
  color: #222;
}
.car-lev li span.tit {
  margin-top: 5px;
  font-size: 14px;
  color: #6b6b6b;
}

/* -- chart 공통  -- */
.chart-container {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
}
.chart-container:last-child {
  margin-bottom: 0;
}
.chart-title {
  margin-bottom: 20px;
}
.chart-title .tit {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.chart-title .tit + p {
  display: none;
  margin-top: 8px;
  line-height: 20px;
}
.chart-title .tit:before {
  display: inline-block;
  content: "·";
  margin-right: 4px;
}
.chart-title .unit {
  float: right;
  font-size: 13px;
  color: #767676;
}
.chart-sort {
  margin-bottom: 20px;
}
.chart-sort .chart-btn {
  display: flex;
  justify-content: center;
}
.chart-sort .chart-btn .btn-sort {
  min-width: 60px;
  height: 35px;
  padding: 0 10px;
  margin-right: -1px;
  border: 1px #dedede solid;
  background: #fff;
  line-height: 35px;
  font-size: 15px;
  outline: none;
}
.chart-sort .chart-btn .btn-sort:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.chart-sort .chart-btn .btn-sort:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.chart-sort .chart-btn .btn-sort.active {
  border: 1px #c00032 solid;
  color: #c00032;
  z-index: 1;
}
.chart-sort .chart-date {
  clear: both;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}
/* .chart-group{
	position: relative;
	padding-top: 15px;
}
.chart-group .y-value{
	position: absolute;
	top: 0;
	left: 2px;
	font-size: 12px;
} */

.box-info {
  margin: 0 20px;
  padding: 15px;
  border: 1px #eaeaea solid;
  border-radius: 8px;
  background: #f8f8f8;
}
.box-info .tit {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
}
.box-info .tit:before {
  display: inline-block;
  content: "!";
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 100%;
  background: #fad508;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
}
.box-info p {
  line-height: 1.4;
}
.box-info em {
  font-weight: 400;
}

/* ================ 미래정보 ================ */
.mf-visual {
  font-family: "LGSmart", sans-serif;
  margin-bottom: 30px;
  padding: 40px 20px;
  border-bottom: 1px #f0f0f0 solid;
}
.mf-visual .xs {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
.mf-visual .lg {
  font-size: 24px;
  font-weight: 400;
}
.mf-visual .lg em {
  color: #cc007a;
}
.mf-wrap {
  position: relative;
  margin: 35px 20px 0 20px;
  border: 1px #eaeaea solid;
  border-radius: 8px;
}
.mf-wrap .mf-tit {
  text-align: center;
}
.mf-wrap .mf-tit span {
  line-height: 40px;
}
.mf-result {
  display: flex;
  display: -webkit-flex;
  height: 100px;
  background: #f7f6f7;
  align-items: center;
}
.mf-result .inner-cell {
  flex: 1 1 auto;
  text-align: center;
}
.mf-result .inner-cell.right {
  border-left: 1px #eaeaea solid;
}
.mf-result .inner-cell .inner-txt {
  display: inline-block;
}
.mf-result .inner-cell .inner-txt .label {
  display: block;
  width: 55px;
  height: 20px;
  margin-bottom: 8px;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
}
.mf-result .inner-cell.left .label {
  background: #e48ba2;
}
.mf-result .inner-cell.right .label {
  background: #d466a8;
}
.mf-result .inner-cell .inner-txt .price {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}

/* ================ 이용기록  ================ */
.record-top {
  margin: 30px 0 40px 0;
  padding: 0 20px 30px 20px;
  border-bottom: 1px #f0f0f0 solid;
  line-height: 1.4;
}
.record-top h2 {
  font-family: "LGSmart", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.record-top .sm {
  font-size: 15px;
  color: #6b6b6b;
}
.record-top .record-list {
  margin-top: 20px;
}
.record-list > li {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  margin-bottom: 5px;
  padding: 0 10px;
  border: 1px #f0f0f0 solid;
  border-radius: 5px;
}
.record-list > li:last-child {
  margin-bottom: 0;
}
.record-list > li .cell-1 {
  flex: 1 1 40%;
}
.record-list > li .cell-2 {
  flex: 1 1 40%;
  text-align: right;
}
.record-list > li .cell-2 strong {
  display: inline-block;
  text-align: right;
}
.record-list > li .cell-2 em {
  display: inline-block;
  width: 40px;
  font-size: 14px;
  color: #9a9a9a;
  text-align: left;
}
.record-list > li .cell-3 {
  flex: 1 1 20%;
  font-size: 14px;
  text-align: right;
}
.record-list > li .cell-3 .n-up {
  color: #ca0946;
}
.record-list > li .cell-3 .n-down {
  color: #095fca;
}
.record-list > li .cell-3 .n-dash {
  color: #333;
}

.bul-try {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 8px;
  vertical-align: middle;
}
.bul-try.up {
  background: url(../images/bul_num_up.png) no-repeat;
  background-size: 100%;
}
.bul-try.down {
  background: url(../images/bul_num_down.png) no-repeat;
  background-size: 100%;
}
.bul-try.dash {
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #333;
}

/* ================ 에너지 연구소  ================ */
.energy-top {
  padding: 50px 20px;
  background: #702076;
  color: #fff;
  text-align: center;
}
.energy-top .et-select {
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 10px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
.energy-top .et-select select {
  width: auto;
  background: transparent url(../images/select_arrow_normal_white.png) no-repeat
    right 50%;
  background-size: 15px 9px;
  color: #fff;
}
.energy-top .et-select select option {
  font-size: 16px;
  color: #404040;
}
.energy-top .et-title {
  margin-bottom: 50px;
  color: #fff;
  line-height: 1.3;
}
.energy-top .et-title .xs {
  display: block;
  font-size: 20px;
}
.energy-top .et-title .lg {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
}
.energy-chart {
  padding: 40px 0;
  text-align: center;
}
.energy-top + .energy-chart {
  padding-top: 0;
}
.energy-chart .en-round {
  height: 50px;
  margin: -49px 10px 0 10px;
  border-radius: 10px 10px 0 0;
  background: #fff;
  line-height: 50px;
  font-size: 16px;
}
.energy-chart .price {
  font-size: 26px;
  font-weight: 400;
  color: #c00032;
}
.energy-chart .e-box {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #f7f7f7;
  line-height: 20px;
}
.energy-chart .e-box em {
  font-weight: 400;
  color: #cc007a;
}

/* ================ 팩트체크  ================ */
.fact-top {
  position: relative;
}
.fact-top .f-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 118px;
  padding-top: 10px;
  background: #2c6fd3;
  border-radius: 0 0 25px 25px;
  z-index: 1;
}
.fact-top .fact-inner {
  position: relative;
  height: 150px;
  margin: 0 10px;
  padding: 20px 15px;
  border: 1px #ddd solid;
  box-shadow: 0 3px 5px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(51, 51, 51, 0.1);
  background: #eff3f6;
  border-radius: 10px;
  z-index: 2;
}
.fact-top .fact-inner .fact-visual {
  position: relative;
  height: 45px;
  padding: 12px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(51, 51, 51, 0.1);
  background: #fff;
}
.fact-top .fact-inner .fact-visual .v-txt {
  display: inline-block;
  padding-left: 8px;
  border-left: 3px #2c6fd3 solid;
  font-size: 18px;
  font-weight: 400;
}
.fact-top .fact-inner .fact-visual .v-img {
  position: absolute;
  right: 13px;
  bottom: -12px;
  width: 47px;
  height: 50px;
  background: url(../images/icon_fact.png) no-repeat;
  background-size: contain;
}
.fact-top .faq-tab {
  display: flex;
  margin-top: 35px;
  padding: 0 20px;
  text-align: center;
}
.fact-top .faq-tab a {
  flex: 1 1 auto;
  display: block;
  font-weight: 400;
  color: #979797;
}
.fact-top .faq-tab a.active span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px #8067dc solid;
  color: #222;
}

.faq-section {
  margin-top: 20px;
}
.faq-section .accordion-list {
  display: none;
}
.faq-section .accordion-list dt {
  display: flex;
  padding: 20px;
  border-bottom: 1px #eaeaea solid;
}
.faq-section .accordion-list dt a {
  margin-right: 8px;
}
.faq-section .accordion-list i {
  display: block;
}
.faq-section .accordion-list .label-arr {
  flex: 0 0 20px;
  height: 20px;
  margin-left: auto;
  border-radius: 100%;
  background: url(../images/arrow_right_gray.png) no-repeat center;
  background-size: 8px 13px;
  transform: rotate(90deg);
  transition: all ease 0.5s 0s;
}
.faq-section .accordion-list .label-arr.up {
  background: url(../images/arrow_right_gray.png) no-repeat center;
  background-size: 8px 13px;
  transform: rotate(-90deg);
}
.faq-section dd {
  padding: 20px 20px 30px 20px;
  border-bottom: 1px #eaeaea solid;
  background: #fafafa;
  word-break: break-all;
}
.faq-section .img-tit {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.faq-section .img-response {
  width: 90%;
}

/* ================ login  ================ */
.login-header {
  padding: 30px;
  text-align: center;
}
.login-header h1.logo {
  display: block;
  width: 150px;
  height: 29px;
  margin: 0 auto 25px auto;
  background: url(../images/top_logo.svg) no-repeat;
  background-size: cover;
}
.login-header .main-title {
  font-size: 24px;
  letter-spacing: -1px;
}
.login-header .main-title strong {
  font-weight: 500;
}

.login-container {
  padding: 20px;
}
.login-form .input-wrap {
  position: relative;
  height: 60px;
  padding: 10px 0;
  border-bottom: 1px #dedede solid;
}
.login-form .input-wrap.active {
  border-bottom: 2px #222222 solid;
}
.login-form .input-wrap label {
  position: absolute;
  transform: translateY(10px);
  font-size: 14px;
  color: #9a9a9a;
}
.login-form .input-wrap label.active {
  top: -10px;
}
.login-form .input-wrap input {
  width: 100%;
  border: none;
}
.login-form .id-save {
  margin: 20px 0 30px;
}
.login-form .btn-login {
  display: block;
  width: 100%;
  height: 48px;
  background: #c00032;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  text-align: center;
}
.member-btn {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
.member-btn a:before {
  display: inline-block;
  content: "|";
  margin-right: 5px;
  font-size: 10px;
  color: #dedede;
  vertical-align: middle;
}
.member-btn a:first-child:before {
  display: none;
}
.main-copyright {
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 100%;
  font-size: 12px;
  color: #a7a9ac;
  text-align: center;
}

/* ================ 회원가입  ================ */
.member-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  line-height: 60px;
}
.member-header h1 a {
  font-size: 18px;
  font-weight: 500;
}
.member-header h1 a:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 17px;
  margin-bottom: -1px;
  margin-right: 8px;
  background: url(../images/icon_back.png) no-repeat;
  background-size: contain;
}
.member-title {
  margin-top: 40px;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 30px;
}
@media (max-width: 320px) {
  .member-title {
    font-size: 22px;
  }
}
.member-title strong {
  font-weight: 400;
}

.join-section {
  margin-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}
.join-section .j-item {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px #eaeaea solid;
}
.join-section .j-item .lable,
.join-section .j-item label {
  font-size: 14px;
  font-weight: 400;
}
.join-section .j-item .inner {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.join-section .j-item .month {
  width: 80px;
  margin-left: 30px;
}
.join-section .btn-jCheck {
  flex: 0 0 auto;
  height: 28px;
  border: 1px #dedede solid;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
}

.join-section .j-item .data-clear,
.join-section .phone-box .data-clear,
.join-section .code-box .data-clear {
  display: none;
  overflow: hidden;
  position: absolute;
  bottom: 11px;
  right: 0;
  width: 15px;
  height: 15px;
  background: url(../images/icon_dataClear.png) no-repeat;
  background-size: contain;
  color: transparent;
}
.join-section .j-item .data-clear.block {
  display: block;
}
.join-section .j-item .inner .data-clear {
  position: relative;
  bottom: auto;
  right: auto;
  margin-right: 5px;
}
.join-section .j-error,
.phone-section .j-error {
  margin-bottom: 10px;
  font-size: 13px;
  color: #e15020;
}
.join-section .t-pa {
  color: #1daf35;
}
.join-section .t-er {
  color: #c00032;
}
.join-section .r-txt {
  display: block;
  padding: 10px 0;
}

.join-result {
  border-top: 1px #eaeaea solid;
}
.join-result li {
  height: 50px;
  border-bottom: 1px #eaeaea solid;
  line-height: 50px;
}
.join-result li .tit {
  display: inline-block;
  width: 80px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}
/* 회원탈퇴 */
.member-out {
  margin-top: 50px;
  text-align: center;
}

/* ================ 이용약관  ================ */
.all-check {
  margin: 25px 10px 10px 10px;
  letter-spacing: -0.5px;
}
.all-check .title {
  font-size: 24px;
  font-weight: 400;
  vertical-align: middle;
}
@media (max-width: 320px) {
  .all-check .title {
    font-size: 20px;
  }
}
.terms-list {
  border-top: 1px #dedede solid;
}
.terms-list li {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px #dedede solid;
}

.terms-list .terms-view {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 9px;
  height: 13px;
  background: url(../images/arrow_right_gray.png) no-repeat;
  background-size: contain;
  color: transparent;
}
.help-withdrawal {
  margin-top: 20px;
  line-height: 1.3;
}

/* ----  약관 팝업 ---- */
.tos-header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  border-bottom: 1px #eaeaea solid;
}
.tos-header h1 {
  position: relative;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 320px) {
  .tos-header h1 {
    font-size: 18px;
  }
}
.tos-header h1 a:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 17px;
  margin-bottom: -1px;
  margin-right: 8px;
  background: url(../images/icon_back.png) no-repeat;
  background-size: contain;
}
.tos-header .tos-close {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 28px;
  height: 28px;
  margin-top: -14px;
  background: none;
}
.tos-header .tos-close .line {
  position: absolute;
  display: block;
  width: 28px;
  height: 1px;
  background: #000;
}
.tos-header .tos-close .line.left {
  left: 0;
  transform: rotate(45deg);
}
.tos-header .tos-close .line.right {
  right: 0;
  transform: rotate(-45deg);
}
.tos-area {
  padding: 75px 20px 20px;
  line-height: 1.4;
}
.tos-area .top-txt {
  margin-bottom: 20px;
}
.tos-area .t-group {
  margin-bottom: 20px;
  font-size: 15px;
}
.tos-area .t-group .em-txt {
  font-size: 18px;
  text-decoration: underline;
}
.tos-area h2,
.tos-area h3 {
  margin-bottom: 5px;
  color: #222;
  font-size: 16px;
  font-weight: 400;
}
.tos-area .t-group h2 + p,
.tos-area .t-group h3 + p {
  margin-bottom: 10px;
}
.tos-area .t-group > dl dt {
  font-weight: 400;
}
.tos-area .t-group > dl dd {
  padding-left: 8px;
  margin-bottom: 10px;
}
.tos-area .t-group .etc {
  margin-top: 10px;
}
.tos-area .t-group .inner-box {
  padding: 10px;
  border: 1px #eaeaea solid;
}
.tos-area .t-group .inner-box .tit {
  display: block;
  margin-bottom: 8px;
  color: #c00032;
  font-weight: 400;
}
.tos-area .t-group .inner-box dt {
  font-weight: 400;
}
.tos-area .t-group .inner-box dd {
  margin-bottom: 5px;
}

.tos-area .t-group > ul li {
  margin-bottom: 5px;
}
.tos-area .t-group .indent-ul li {
  padding-left: 10px;
}
.tos-area .add {
  font-size: 14px;
}
.tos-area .t-group .table-dl {
  border: 1px #dedede solid;
}
.tos-area .t-group .table-dl dt {
  padding: 3px 6px;
  border-bottom: 1px #dedede solid;
  background: #f5f5f5;
}
.tos-area .t-group .table-dl dd {
  margin-bottom: 0;
  padding: 10px;
  border-bottom: 1px #dedede solid;
}
.tos-area .t-group .table-dl dd:last-child {
  border-bottom: none;
}

/* ================ 전화인증  ================ */
.phone-box {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  margin-bottom: 5px;
  border-bottom: 1px #dedede solid;
}
.phone-box label,
.code-box label {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.j-item .c-code,
.phone-box .c-code {
  width: 74px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}
.phone-box .c-code:after {
  display: inline-block;
  content: "|";
  margin-left: 5px;
  font-size: 12px;
  font-weight: 200;
  color: #dedede;
}
.phone-box .p-num {
  flex: auto;
}
.phone-box .btn {
  flex: 0 0 auto;
}
.code-wrap .code-wrap-top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.code-wrap .code-wrap-top .tit {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.code-wrap .code-wrap-top .btn {
  margin-left: auto;
}
.code-box {
  padding: 0 2px;
  border: 1px #eaeaea solid;
  border-radius: 4px;
  background: #f7f7f7;
}
.code-box + .code-box {
  margin-top: 5px;
}
.code-box + .j-item {
  margin-top: 10px;
}
.code-box.active {
  background: #fff;
}
.code-box .num {
  width: calc(100% - 50px);
  background: transparent;
}
.code-box .time {
  font-size: 13px;
  color: #9a9a9a;
}
.code-box + .j-error {
  margin-top: 5px;
}
.code-box.active.fCode {
  border: 1px #ea6248 solid;
}

/* ================ modal ================ */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  font-size: 22px;
}
.message-box .modal-body {
  display: flex;
  align-items: center;
  min-height: 250px;
  padding-bottom: 50px;
}
.confirm .modal-dialog {
  padding: 20px 60px;
}
.modal-f-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  border-radius: 0 0 5px 5px;
  background: #c00032;
  color: #fff;
  font-weight: 400;
  line-height: 44px;
}
.message-box .search-result {
  width: 100%;
  text-align: center;
}
.message-box .search-result .rs-txt {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
.confirm .confirm-txt {
  padding-top: 20px;
  text-align: center;
}
.confirm .confirm-txt .tit {
  font-weight: 400;
}
.confirm-btn {
  /* display: flex;
	padding: 0 30px;
	border-top: 1px #eaeaea solid;
	text-align: center; */
  padding: 0 20px 20px;
  text-align: center;
}
.confirm-btn .btn {
  /* flex: 1 1 auto;
	height: 40px;
	background: transparent;
	line-height: 40px;
	color: #c82376; */
  height: 30px;
  padding: 0 20px;
  border-radius: 3px;
}
.confirm-btn .btn-cancel {
  border: 1px #eaeaea solid;
  background: #fff;
  color: #767676;
}
.confirm-btn .btn-ok {
  background: #c00032;
  color: #fff;
}

/* ================ board ================ */
.board-container {
  position: relative;
  min-height: 100%;
}
.board-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.board-btn .btn {
  border-radius: 8px 8px 0 0;
}
.board-inner-btn {
  padding-bottom: 40px;
  text-align: center;
}

/* 첨부파일 */
.file-list {
  font-size: 13px;
}
.file-list .vol {
  font-size: 12px;
  color: #9a9a9a;
  vertical-align: middle;
}
.file-list .vol:before {
  display: inline-block;
  content: "/";
  margin-right: 3px;
}
.file-list .del {
  display: inline-block;
  margin-left: 10px;
  color: #9a9a9a;
}

.board-area {
  padding: 10px 10px 40px 10px;
  background: #f8f8f8;
}
.board-area .board-topBtn {
  padding: 30px 0;
  text-align: center;
}
.board-area .btn-write {
  height: 45px;
  padding: 0 30px;
  background: #222;
  border-radius: 22.5px;
  color: #fff;
  line-height: 45px;
}
.board-list li {
  margin-bottom: 10px;
  padding: 30px 20px;
  border: 1px #eaeaea solid;
  border-radius: 10px;
  background: #fff;
}
.board-list .info-wrap {
  margin-bottom: 15px;
}
.board-list .info-wrap span {
  display: inline-block;
  vertical-align: middle;
}
.board-list .info-wrap .name {
  margin-right: 5px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.board-list .info-wrap .date {
  font-size: 13px;
  color: #767676;
}
.board-list .info-wrap .file {
  width: 13px;
  height: 15px;
  margin-left: 5px;
  background: url(../images/icon_file.png) no-repeat;
  background-size: 100%;
}
.board-list .info-wrap .hit {
  float: right;
  padding-left: 18px;
  background: url(../images/icon_hit.png) no-repeat left center;
  background-size: 15px 9px;
  font-size: 12px;
}
.board-list .cont-wrap {
  clear: both;
}
.board-list .cont-wrap + .btn-wrap {
  margin-top: 20px;
}
.board-list .cont-wrap .title {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #222;
}
.board-list .cont-wrap .cont {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  white-space: normal;
  line-height: 1.4;
  max-height: 2.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.board-list .btn-wrap {
  text-align: center;
}
.board-list .btn-wrap .btn {
  height: 18px;
  padding-left: 18px;
  font-size: 14px;
  color: #666;
  line-height: 17px;
}
.board-list .btn-del {
  margin-right: 10px;
  background: url(../images/icon_del.png) no-repeat;
  background-size: 16px 17px;
}
.board-list .btn-modify {
  background: url(../images/icon_modify.png) no-repeat;
  background-size: 16px 17px;
}
.list-paging {
  margin-top: 30px;
  text-align: center;
}
.list-paging a {
  font-size: 14px;
  color: #767676;
}
.list-paging i {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
  vertical-align: text-top;
}

/* board write */
.board-write {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px #dedede solid;
}
.board-write .bw-title {
  height: 50px;
  padding: 7px 20px;
  border-bottom: 1px #eaeaea solid;
}

.board-write .bw-file {
  display: flex;
  padding: 10px 20px;
}
.board-write .bw-file .tit {
  margin-right: 15px;
  font-size: 14px;
}
.board-write .bw-file .file-list {
  flex: 1;
  max-height: 40px;
  overflow-y: scroll;
  font-size: 12px;
  line-height: 1.6rem;
}
.board-write .bw-file .add-file {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #cc007a url(../images/icon_file_lg.png) no-repeat center;
  background-size: 17px 18px;
  color: transparent;
  overflow: hidden;
}
.board-write .bw-file .add-file + input[type="file"] {
  display: none;
}
.board-write .bw-content {
  height: calc(100% - 180px);
  padding: 20px;
  border-top: 10px #efe9eb solid;
}
.board-write .bw-content textarea {
  height: 100%;
}

/* board view */
.board-view {
  position: relative;
  width: 100%;
  border-top: 1px #dedede solid;
}
.board-view .bv-top {
  padding: 20px;
  border-bottom: 1px #eaeaea solid;
}
.board-view .bv-top .bv-info {
  margin-bottom: 10px;
}
.board-view .bv-top .bv-title {
  font-weight: 400;
}
.board-view .bv-top .bv-info .name {
  margin-right: 5px;
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.board-view .bv-top .bv-info .date {
  font-size: 13px;
  color: #767676;
}
.board-view .bv-content {
  padding: 30px 20px;
  line-height: 2.4rem;
}
.board-view .bv-file {
  margin-top: 20px;
  padding: 15px 0 0 10px;
  border-top: 1px #eaeaea solid;
  line-height: 2rem;
  font-size: 14px;
  color: #767676;
}

/* ================ error  ================ */
.error {
  font-family: LGSmart;
  background: #f5f5f5;
}
.error-container {
  padding: 20px;
}
.error-container h1 {
  width: 150px;
  margin: auto;
}
.error-container h1 img {
  width: 100%;
}
.error-message {
  margin-top: 30px;
  /* padding: 20px;
	background: #fff; */
  text-align: center;
  line-height: 1.4;
}
.error-message i {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
  border-radius: 100%;
  background: #c00032;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 38px;
}
.error-message .error-tit {
  position: relative;
  margin-bottom: 30px;
  letter-spacing: -1px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: 1px #dedede solid;
  box-shadow: 0px 2px 6px 1px rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 0px 2px 6px 1px rgba(51, 51, 51, 0.1);
  font-size: 20px;
}
.error-message .error-tit .arrow,
.error-message .error-tit .arrow:after {
  position: absolute;
  display: block;
}
.error-message .error-tit .arrow {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0 10px;
  border-color: #dedede transparent transparent transparent;
  border-style: solid;
}
.error-message .error-tit .arrow:after {
  bottom: 1px;
  left: 50%;
  margin-left: -9px;
  border-width: 9px 9px 0 9px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  content: "";
}
@media (max-width: 320px) {
  .error-message .error-tit {
    padding: 10px;
    font-size: 18px;
  }
}

.error-footer {
  margin-top: 40px;
  font-size: 12px;
  color: #a7a9ac;
  text-align: center;
}

.loading {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 2000;
}
.loading img {
  width: 48px;
  height: 48px;
  opacity: 0.6;
}
