<div class="header-wrap">
    <header id="header" class="header-layout">
        <!-- index 에서 보여질 로고 -->
        <!-- <h1 class="header-logo">
                            <a href="#">인재개발 플랫폼 Butter Time</a>
                        </h1> -->
        <!-- sub page 에서 보여질 로고 및 아이콘 -->
        <!-- <div class="sub-header">
                        <a href="#" class="btn-logo-home">홈으로 이동</a>
                        <h1 class="title">콘텐츠 제목</h1>
                    </div> -->
        <!-- 2023-06-19 buttertime web 로고추가  -->
        <div class="sub-header buttertime-web">
            <a href="#" class="btn-logo-home">홈으로 이동</a>
            <h1 class="title">콘텐츠 제목</h1>
        </div>

        <div class="header-response">
            <div class="header-inner">
                <nav class="gnb-area">
                    <ul class="gnb-menu">
                        <li class="gnb-item"><a href="#">버터타임 소개</a></li>
                        <li class="gnb-item"><a href="#">수강신청</a></li>
                        <li class="gnb-item dropdown">
                            <a href="#">나의 강의실</a>
                            <div class="gnb-submenu-wrap">
                                <ul class="gnb-submenu">
                                    <li><a href="#">학습현황</a></li>
                                    <li><a href="#">결제현황</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="gnb-item dropdown">
                            <a href="#">고객센터</a>
                            <div class="gnb-submenu-wrap">
                                <ul class="gnb-submenu">
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="http://www.naver.com">1:1메뉴</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header-infomenu">
                    <a href="#" class="c-btn-i-menu info">정보수정</a>
                    <a href="#" class="c-btn-i-menu logout">로그아웃</a>
                </div>
                <div class="header-sidemenu">
                    <a href="#" class="s-menu">이용약관</a>
                    <a href="#" class="s-menu"><strong>개인정보 처리 방침</strong></a>
                </div>
                <button class="btn-drawer-close">닫기</button>
            </div>
        </div>
        <!-- only mobile  -->
        <button class="btn-drawer-open">전체메뉴</button>
    </header>
</div>
