<div class="footer-wrap">
    <footer class="footer-layout">
        <div class="footer-head">
            <div class="footer-inner">
                <div class="f-logo">(주)엘지씨엔에스</div>
                <ul class="f-side-menu">
                    <li><a href="#" class="link-side">이용약관</a></li>
                    <li>
                        <a href="#" class="link-side"><strong> 개인정보 처리 방침</strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <div class="footer-inner">
                <dl class="f-com-info">
                    <dt>대표이사</dt>
                    <dd>김영섭</dd>
                    <dt>사업자등록번호</dt>
                    <dd>116-81-19477</dd>
                    <dt>개인정보 보호 책임자</dt>
                    <dd>이정무</dd>
                    <dt>사업자 주소</dt>
                    <dd>서울특별시 강서구 마곡중앙8로 71(마곡동)</dd>
                </dl>
            </div>
        </div>
    </footer>
</div>
