<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Loading</title>
    <link rel="stylesheet" href="../../static/assets/css/reset.css" />
    <link rel="stylesheet" href="../../static/assets/css/setting.css" />
    <link rel="stylesheet" href="../../static/assets/css/layout.css" />
    <!-- lottie 추가 -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script defer src="../../static/assets/js/common.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div class="loading-container">
        <div class="loading-item">
          <div class="lottie-container">
            <lottie-player
              src="butter_loading.json"
              background="transparent"
              speed="1"
              loop
              autoplay
              style="width: 80px; height: 80px"
            ></lottie-player>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
