<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/reset.css" />
    <link rel="stylesheet" href="../static/assets/css/setting.css" />
    <link rel="stylesheet" href="../static/assets/css/layout.css" />
    <script defer src="../static/assets/js/common.js"></script>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div class="header-wrap">
        <header id="header" class="header-layout">
          <!-- index 에서 보여질 로고 -->
          <!-- <h1 class="header-logo">
                            <a href="#">인재개발 플랫폼 Butter Time</a>
                        </h1> -->
          <!-- sub page 에서 보여질 로고 및 아이콘 -->
          <div class="sub-header">
            <a href="#" class="btn-logo-home">홈으로 이동</a>
            <h1 class="title">콘텐츠 제목</h1>
          </div>

          <div class="header-response">
            <div class="header-inner">
              <nav class="gnb-area">
                <ul class="gnb-menu">
                  <li class="gnb-item"><a href="#">버터타임 소개</a></li>
                  <li class="gnb-item"><a href="#">수강신청</a></li>
                  <li class="gnb-item dropdown">
                    <a href="#">나의 강의실</a>
                    <div class="gnb-submenu-wrap">
                      <ul class="gnb-submenu">
                        <li><a href="#">학습현황</a></li>
                        <li><a href="#">결제현황</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="gnb-item dropdown">
                    <a href="#">고객센터</a>
                    <div class="gnb-submenu-wrap">
                      <ul class="gnb-submenu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="http://www.naver.com">1:1메뉴</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
              <div class="header-infomenu">
                <a href="#" class="c-btn-i-menu info">정보수정</a>
                <a href="#" class="c-btn-i-menu logout">로그아웃</a>
              </div>
              <div class="header-sidemenu">
                <a href="#" class="s-menu">이용약관</a>
                <a href="#" class="s-menu"
                  ><strong>개인정보 처리 방침</strong></a
                >
              </div>
              <button class="btn-drawer-close">닫기</button>
            </div>
          </div>
          <!-- only mobile  -->
          <button class="btn-drawer-open">전체메뉴</button>
        </header>
      </div>
      <!--//. header -->
      <!-- section content -->
      <div class="section-content full">
        <div class="section-subnav-area">
          <nav class="subnav-wrap">
            <ul class="subnav-item-list">
              <li class="subnav-item">
                <a href="c_001.html" class="menu-item active">공지사항</a>
              </li>
              <li class="subnav-item">
                <a href="c_003.html" class="menu-item">1:1문의</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="section-middlearea">
          <!-- 공지사항 -->
          <div class="board-wrap">
            <div class="bbs-header">
              <div class="cell-flag">구분</div>
              <div class="cell-title">내용</div>
              <div class="cell-date">등록일</div>
            </div>
            <ul class="bbs-list type-notice">
              <li class="list-item">
                <div class="item-head">
                  <div class="cell-flag">
                    <span class="flag event">이벤트</span>
                  </div>
                  <div class="cell-title">
                    <a href="c_002.html"
                      >버터타임 입점 기념 무료 이벤트 기간 안내</a
                    >
                  </div>
                  <div class="cell-date">2023-03-29</div>
                </div>
              </li>
              <li class="list-item">
                <div class="item-head">
                  <div class="cell-flag">
                    <span class="flag notice">공지</span>
                  </div>
                  <div class="cell-title">
                    <a href="#">버터타임 입점 기념 무료 이벤트 기간 안내</a>
                  </div>
                  <div class="cell-date">2023-03-29</div>
                </div>
              </li>
              <li class="list-item">
                <div class="item-head">
                  <div class="cell-flag">
                    <span class="flag event">이벤트</span>
                  </div>
                  <div class="cell-title">
                    <a href="#">버터타임 입점 기념 무료 이벤트 기간 안내</a>
                  </div>
                  <div class="cell-date">2023-03-29</div>
                </div>
              </li>
              <li class="list-item">
                <div class="item-head">
                  <div class="cell-flag">
                    <span class="flag notice">공지</span>
                  </div>
                  <div class="cell-title">
                    <a href="#">버터타임 입점 기념 무료 이벤트 기간 안내</a>
                  </div>
                  <div class="cell-date">2023-03-29</div>
                </div>
              </li>
              <li class="list-item">
                <div class="item-head">
                  <div class="cell-flag">
                    <span class="flag notice">공지</span>
                  </div>
                  <div class="cell-title">
                    <a href="#">버터타임 입점 기념 무료 이벤트 기간 안내</a>
                  </div>
                  <div class="cell-date">2023-03-29</div>
                </div>
              </li>
            </ul>
            <div class="item-info-msg">
              <p class="i-thumb">
                <img src="../static/assets/img/noimg-notice.svg" alt="" />
              </p>
              <p class="i-msg">공지사항이 없습니다.</p>
            </div>
          </div>
          <div class="pagination-wrap">
            <!-- 비활성일때 disabled class 추가 -->
            <!-- <ul class="pagination">
                            <li class="page-item disabled"><button class="page-btn prev">이전페이지</button></li>
                            <li class="page-item active"><button type="button" title="현재페이지" class="page-link">1</button></li>
                            <li class="page-item"><button type="button" class="page-link">2</button></li>
                            <li class="page-item"><button type="button" class="page-link">3</button></li>
                            <li class="page-item"><button type="button" class="page-link">4</button></li>
                            <li class="page-item"><button type="button" class="page-link">5</button></li>
                            <li class="page-item"><button type="button" class="page-link">6</button></li>
                            <li class="page-item"><span class="page-link">...</span></li>
                            <li class="page-item"><button type="button" class="page-link">214</button></li>
                            <li class="page-item"><button class="page-btn">다음페이지</button></li>
                        </ul> -->
            <!-- 모바일 샘플 -->
            <ul class="pagination">
              <li class="page-item disabled">
                <button class="page-btn prev">이전페이지</button>
              </li>
              <li class="page-item active">
                <button type="button" title="현재페이지" class="page-link">
                  1
                </button>
              </li>
              <li class="page-item">
                <button type="button" class="page-link">2</button>
              </li>
              <li class="page-item">
                <button type="button" class="page-link">3</button>
              </li>
              <li class="page-item"><span class="page-link">...</span></li>
              <li class="page-item">
                <button type="button" class="page-link">214</button>
              </li>
              <li class="page-item">
                <button class="page-btn">다음페이지</button>
              </li>
            </ul>
          </div>
          <!-- //공지사항 -->
        </div>
      </div>
      <!--//. section content -->
      <!-- footer -->
      <div class="footer-wrap">
        <footer class="footer-layout">
          <div class="footer-head">
            <div class="footer-inner">
              <div class="f-logo">(주)엘지씨엔에스</div>
              <ul class="f-side-menu">
                <li><a href="" class="link-side">이용약관</a></li>
                <li>
                  <a href="" class="link-side"
                    ><strong> 개인정보 처리 방침</strong></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-info">
            <div class="footer-inner">
              <dl class="f-com-info">
                <dt>대표이사</dt>
                <dd>김영섭</dd>
                <dt>사업자등록번호</dt>
                <dd>116-81-19477</dd>
                <dt>개인정보 보호 책임자</dt>
                <dd>이정무</dd>
                <dt>사업자 주소</dt>
                <dd>서울특별시 강서구 마곡중앙8로 71(마곡동)</dd>
              </dl>
            </div>
          </div>
        </footer>
      </div>
      <!--//. footer  -->
    </div>
  </body>
</html>
