<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/assets/css/reset.css" />
        <link rel="stylesheet" href="../static/assets/css/setting.css" />
        <link rel="stylesheet" href="../static/assets/css/layout.css" />
        <script defer src="../static/assets/js/common.js"></script>
    </head>
    <body>
        <div id="wrap">
            <!-- header -->
            <div class="header-wrap">
                <header id="header" class="header-layout">
                    <!-- index 에서 보여질 로고 -->
                    <!-- <h1 class="header-logo">
                            <a href="#">인재개발 플랫폼 Butter Time</a>
                        </h1> -->
                    <!-- sub page 에서 보여질 로고 및 아이콘 -->
                    <div class="sub-header">
                        <a href="#" class="btn-logo-home">홈으로 이동</a>
                        <h1 class="title">콘텐츠 제목</h1>
                    </div>

                    <div class="header-response">
                        <div class="header-inner">
                            <nav class="gnb-area">
                                <ul class="gnb-menu">
                                    <li class="gnb-item"><a href="#">버터타임 소개</a></li>
                                    <li class="gnb-item"><a href="#">수강신청</a></li>
                                    <li class="gnb-item dropdown">
                                        <a href="#">나의 강의실</a>
                                        <div class="gnb-submenu-wrap">
                                            <ul class="gnb-submenu">
                                                <li><a href="#">학습현황</a></li>
                                                <li><a href="#">결제현황</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="gnb-item dropdown">
                                        <a href="#">고객센터</a>
                                        <div class="gnb-submenu-wrap">
                                            <ul class="gnb-submenu">
                                                <li><a href="#">공지사항</a></li>
                                                <li><a href="http://www.naver.com">1:1메뉴</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-infomenu">
                                <a href="#" class="c-btn-i-menu info">정보수정</a>
                                <a href="#" class="c-btn-i-menu logout">로그아웃</a>
                            </div>
                            <div class="header-sidemenu">
                                <a href="#" class="s-menu">이용약관</a>
                                <a href="#" class="s-menu"><strong>개인정보 처리 방침</strong></a>
                            </div>
                            <button class="btn-drawer-close">닫기</button>
                        </div>
                    </div>
                    <!-- only mobile  -->
                    <button class="btn-drawer-open">전체메뉴</button>
                </header>
            </div>
            <!--//. header -->
            <!-- section content -->
            <div class="section-content full">
                <div class="section-subnav-area">
                    <nav class="subnav-wrap">
                        <ul class="subnav-item-list">
                            <li class="subnav-item">
                                <a href="f_006.html" class="menu-item active">전자지급결제대행 서비스 이용 동의</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="section-middlearea">
                    <!-- 전자지급결제대행 서비스 이용 동의 -->
                    <div class="terms-area">
                        <dl class="terms-group">
                            <dt class="terms-title">제 1조(목적)</dt>
                            <dd class="terms-cont">
                                <p class="t-txt bold">
                                    이 약관은 (주)LG CNS (이하 '회사'라 합니다)가 제공하는 전자금융거래에 대한 기본적인 사항을 정함으로써
                                    전자금융거래를 이용하고자 하는 고객과 회사 사이의 권리･의무 관계를 명확하게 정함을 목적으로 합니다.
                                </p>
                            </dd>
                            <dt class="terms-title">제 2조(용어의 정의)</dt>
                            <dd class="terms-cont">
                                <p class="t-txt bold">이 약관에서 정하는 용어의 정의는 다음과 같습니다.</p>
                                <ol class="list-type-counter">
                                    <li>
                                        '전자지급결제대행 서비스'라 함은 전자적 방법으로 재화의 구입 또는 용역의 이용에 있어서
                                        지급결제정보를 송신하거나 수신하는 것 또는 그 대가의 정산을 대행하거나 매개하는 서비스를 말합니다.
                                    </li>
                                    <li>
                                        '이용자'라 함은 이 약관에 동의하고 회사가 제공하는 전자지급결제대행 서비스를 이용하는 자를 말합니다.
                                    </li>
                                    <li>
                                        '접근매체'라 함은 전자금융거래에 있어서 거래지시를 하거나 이용자 및 거래내용의 진실성과 정확성을
                                        확보하기 위하여 사용되는 수단 또는 정보로서 전자식 카드 및 이에 준하는 전자적 정보(신용카드번호를
                                        포함한다), '전자서명법'상의 인증서, 금융기관 또는 전자금융업자에 등록된 이용자번호, 이용자의
                                        생체정보, 이상의 수단이나 정보를 사용하는데 필요한 비밀번호 등 전자금융거래법 제2조 제10호에서
                                        정하고 있는 것을 말합니다.
                                    </li>
                                    <li>
                                        '거래지시'라 함은 이용자가 전자금융거래계약에 따라 금융기관 또는 전자금융업자에게 전자금융거래의
                                        처리를 지시하는 것을 말합니다.
                                    </li>
                                    <li>
                                        '오류'라 함은 이용자의 고의 또는 과실 없이 전자금융거래가 전자금융거래계약 또는 이용자의 거래지시에
                                        따라 이행되지 아니한 경우를 말합니다.
                                    </li>
                                    <li>
                                        ‘전자금융거래’라 함은 회사가 전자적 장치를 통하여 전자금융서비스를 제공(이하 ‘전자금융업무’라
                                        합니다)하고, 이용자가 회사의 종사자와 직접 대면하거나 의사소통을 하지 아니하고 자동화된 방식으로
                                        이를 이용하는 거래를 말합니다.
                                    </li>
                                    <li>
                                        ‘전자지급수단’이라 함은 선불전자지급수단, 신용카드 등 전자금융거래법 제2조 제11호에서 정하는 전자적
                                        방법에 따른 지급수단을 말합니다.
                                    </li>
                                    <li>
                                        ‘전자지급거래’라 함은 자금을 주는 자(이하 ‘지급인’이라 합니다)가 회사로 하여금 전자지급수단을
                                        이용하여 자금을 받는 자(이하 ‘수취인’이라 합니다)에게 자금을 이동하게 하는 전자금융거래를 말합니다.
                                    </li>
                                    <li>
                                        ‘전자적 장치’ 라 함은 전자금융거래정보를 전자적 방법으로 전송하거나 처리하는데 이용되는 장치로서
                                        현금자동지급기, 자동입출금기, 지급용단말기, 컴퓨터, 전화기 그 밖에 전자적 방법으로 정보를 전송하거나
                                        처리하는 장치를 말합니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 3조(약관의 명시 및 변경)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        회사는 이용자가 전자지급결제대행 서비스를 이용하기 전에 이 약관을 게시하고 이용자가 이 약관의 중요한
                                        내용을 확인할 수 있도록 합니다.
                                    </li>
                                    <li>
                                        회사는 이용자의 요청이 있는 경우 전자문서의 전송방식에 의하여 본 약관의 사본을 이용자에게
                                        교부합니다.
                                    </li>
                                    <li>
                                        회사가 약관을 변경하는 때에는 그 시행일 1월 전에 변경되는 약관을 지급결제정보 입력 화면 및 회사의
                                        홈페이지에 게시함으로써 이용자에게 공지합니다. 다만, 법령의 개정으로 인하여 긴급하게 약관을 변경한
                                        때에는 변경된 약관을 홈페이지에 1개월 이상 게시하고 이용자에게 전자우편 등을 통하여 사후 통지합니다.
                                    </li>
                                    <li>
                                        제3항의 공지나 통지를 받은 날로부터 30일 이내에 계약해지의 의사표시를 하지 아니한 경우에는 변경에
                                        동의한 것으로 봅니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 4조(접근매체의 관리 등)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        회사는 전자지급결제대행 서비스 제공 시 접근매체를 선정하여 이용자의 신원, 권한 및 거래지시의 내용
                                        등을 확인할 수 있습니다.
                                    </li>
                                    <li>
                                        이용자는 접근매체를 제3자에게 대여하거나 사용을 위임하거나 양도 또는 담보 목적으로 제공할 수
                                        없습니다.
                                    </li>
                                    <li>
                                        이용자는 자신의 접근매체를 제3자에게 누설 또는 노출하거나 방치하여서는 안되며, 접근매체의 도용이나
                                        위조 또는 변조를 방지하기 위하여 충분한 주의를 기울여야 합니다.
                                    </li>
                                    <li>
                                        회사는 이용자로부터 접근매체의 분실이나 도난 등의 통지를 받은 때에는 그 때부터 제3자가 그 접근매체를
                                        사용함으로 인하여 이용자에게 발생한 손해를 배상할 책임이 있습니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 5조(회사의 책임)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        접근매체의 위조나 변조로 발생한 사고로 인하여 이용자에게 발생한 손해에 대하여 배상책임이 있습니다.
                                        다만, 이용자가 제4조 제2항에 위반하거나 제3자가 권한 없이 이용자의 접근매체를 이용하여 전자금융
                                        거래를 할 수 있음을 알았거나 알 수 있었음에도 불구하고 이용자가 자신의 접근매체를 누설 또는
                                        노출하거나 방치한 경우 그 책임의 전부 또는 일부를 이용자가 부담하게 할 수 있습니다.
                                    </li>
                                    <li>
                                        회사는 계약체결 또는 거래지시의 전자적 전송이나 처리과정에서 발생한 사고로 인하여 이용자에게 손해가
                                        발생한 경우에는 그 손해를 배상할 책임이 있습니다. 다만, 본조 제1항 단서에 해당하거나
                                        법인('중소기업기본법' 제2조 제2항에 의한 소기업을 제외한다)인 이용자에게 손해가 발생한 경우로서
                                        회사가 사고를 방지하기 위하여 보안절차를 수립하고 이를 철저히 준수하는 등 합리적으로 요구되는 충분한
                                        주의의무를 다한 경우 그 책임의 전부 또는 일부를 이용자가 부담하게 할 수 있습니다.
                                    </li>
                                    <li>
                                        회사는 컴퓨터 등 정보통신설비의 보수점검,교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는
                                        전자지급결제대행 서비스의 제공을 일시적으로 중단할 수 있습니다.
                                    </li>
                                    <li>
                                        제3항의 사유로 전자지급결제대행 서비스의 제공이 일시적으로 중단되는 경우에는 이용자는 회사에 대하여
                                        서비스제공 중단을 이유로한 명목의 배상을 청구할 수 없습니다.
                                    </li>
                                    <li>
                                        회사는 전자금융거래를 위한 전자적 장치 또는 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 제
                                        2조제1항제1호에 따른 정보통신망에 침입하여 거짓이나 그 밖의 부정한 방법으로 획득한 접근매체의
                                        이용으로 획득한 접근매체의 이용으로 발생한 사고로 인하여 이용자에게 그 손해가 발생한 경우에는 그
                                        손해를 배상할 책임이 있습니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 6조(거래내용의 확인)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        회사는 이용자와 미리 약정한 전자적 방법을 통하여 이용자의 거래내용(이용자의 '오류정정 요구사실 및
                                        처리결과에 관한 사항'을 포함합니다)을 확인할 수 있도록 하며, 이용자의 요청이 있는 경우에는 요청을
                                        받은 날로부터 2주 이내에 모사전송 등의 방법으로 거래내용에 관한 서면을 교부합니다.
                                    </li>

                                    <li>
                                        회사가 이용자에게 제공하는 거래내용 중 거래계좌의 명칭 또는 번호, 거래의 종류 및 금액, 거래상대방을
                                        나타내는 정보, 거래일자, 전자적 장치의 종류 및 전자적 장치를 식별할 수 있는 정보와 해당
                                        전자금융거래와 관련한 전자적 장치의 접속기록은 과 회사가 전자금융거래의 대가로 받은 수수료, 이용자의
                                        출금 동의에 관한 사항, 전자금융거래의 신청 및 조건의 변경에 관한 사항, 건당 거래금액이 1만원을
                                        초과하는 전자금융거래에 관한 기록은 5년간, 건당 거래금액이 1만원 이하인 소액 전자금융거래에 관한
                                        기록, 전자지급수단 이용 시 거래승인에 관한 기록, 이용자의 오류정정 요구사실 및 처리결과에 관한
                                        사항은 1년간의 기간을 대상으로 한다.
                                    </li>
                                    <li>
                                        이용자가 제1항에서 정한 서면교부를 요청하고자 할 경우 다음의 주소 및 전화번호로 요청할 수 있습니다.
                                        <dl class="inner-dl mt-8">
                                            <dt>[담당자]</dt>
                                            <dd>
                                                <ul class="list-type-bullet">
                                                    <li>LG CNS 인증트랜잭션사업팀</li>
                                                    <li>주소 : 서울시 강서구 마곡중앙 8로 71 LG사이언스파크 E13 LGCNS</li>
                                                    <li>이메일 주소 : cnspay@lgcns.com</li>
                                                    <li>전화번호 : 1661-8455</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 7조(오류의 정정 등)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        이용자는 전자지급결제대행 서비스를 이용함에 있어 오류가 있음을 안 때에는 회사에 대하여 그 정정을
                                        요구할 수 있습니다.
                                    </li>
                                    <li>
                                        회사는 전항의 규정에 따른 오류의 정정요구를 받은 때 또는 스스로 전자금융거래에 오류가 있음을 안
                                        때에는 이를 즉시 조사하여 처리한 후 정정요구를 받은 날부터 2주 이내에 그 결과를 이용자에게 알려
                                        드립니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 8조(전자지급결제대행 서비스 이용 기록의 생성 및 보존)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        회사는 이용자가 전자지급결제대행 서비스 이용거래의 내용을 추적, 검색하거나 그 내용에 오류가 발생한
                                        경우에 이를 확인하거나 정정할 수 있는 기록을 생성하여 보존합니다.
                                    </li>
                                    <li>
                                        전항의 규정에 따라 회사가 보존하여야 하는 기록의 종류 및 보존방법은 제6조 제2항에서 정한 바에
                                        따릅니다.
                                    </li>
                                </ol>
                            </dd>

                            <dt class="terms-title">제 9조(거래지시의 철회)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        이용자가 전자지급결제대행 서비스를 이용한 경우, 이용자는 거래지시된 금액의 정보에 대하여 수취인의
                                        계좌가 개설되어 있는 금융기관 또는 회사의 계좌의 원장에의 입금기록 또는 전자적 장치에의 입력이
                                        끝나기 전까지 거래지시를 철회할 수 있습니다.
                                    </li>
                                    <li>
                                        회사는 이용자의 거래지시의 철회에 따라 지급거래가 이루어지지 않은 경우 수령한 자금을 이용자에게
                                        반환하여야 합니다.
                                    </li>
                                </ol>
                            </dd>
                            <dt class="terms-title">제 10조(한도 등)</dt>
                            <dd class="terms-cont">
                                <p class="t-txt">
                                    회사의 정책 및 결제업체(이동통신사, 카드사 등)의 기준에 따라 이용자의 결제수단별 월 누적 결제액 및
                                    결제한도가 제한될 수 있습니다.
                                </p>
                            </dd>
                            <dt class="terms-title">제 11조(전자금융거래정보의 제공금지)</dt>
                            <dd class="terms-cont">
                                <p class="t-txt">
                                    회사는 전자지급결제대행 서비스를 제공함에 있어서 취득한 이용자의 인적사항, 이용자의 계좌, 접근매체 및
                                    전자금융거래의 내용과 실적에 관한 정보 또는 자료를 이용자의 동의를 얻지 아니하고 제3자에게
                                    제공,누설하거나 업무상 목적 외에 사용하지 아니합니다. 다만, '금융실명거래 및 비밀보장에 관한 법률' 제 4
                                    조제 1 항 단서의 규정에 따른 경우 그 밖에 다른 법률에서 정하는 바에 따른 경우에는 그러하지 아니합니다.
                                </p>
                            </dd>
                            <dt class="terms-title">제 12조(분쟁처리 및 분쟁조정)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        이용자는 다음의 분쟁처리 책임자 및 담당자에 대하여 전자지급결제대행 서비스 이용과 관련한 의견 및
                                        불만의 제기, 손해배상의 청구 등의 분쟁처리를 요구할 수 있습니다.
                                        <dl class="inner-dl mt-8">
                                            <dt>[담당자]</dt>
                                            <dd>
                                                <ul class="list-type-bullet">
                                                    <li>LG CNS 인증트랜잭션사업팀</li>
                                                    <li>주소: 서울시 강서구 마곡중앙 8로 71 LG사이언스파크 E13 LGCNS</li>
                                                    <li>이메일 주소: cnspay@lgcns.com</li>
                                                    <li>전화번호: 1661-8455</li>
                                                    <li>팩스 : 02-2099-0077</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        이용자가 회사에 대하여 분쟁처리를 신청한 경우에는 회사는 15일 이내에 이에 대한 조사 또는 처리 결과를
                                        이용자에게 안내합니다.
                                    </li>
                                    <li>
                                        '금융소비자 보호에 관한 법률' 제33조에 따른 금융감독원의 금융분쟁조정위원회나 '소비자기본법' 제 33
                                        조에 따른 한국소비자원에 회사의 전자지급결제대행 서비스의 이용과 관련한 분쟁조정을 신청할 수
                                        있습니다.
                                    </li>
                                </ol>
                            </dd>

                            <!-- 여기 -->
                            <dt class="terms-title">제 13조(회사의 안전성 확보 의무)</dt>
                            <dd class="terms-cont">
                                <p class="t-txt">
                                    회사는 전자금융거래의 안전성과 신뢰성을 확보할 수 있도록 전자금융거래의 종류별로 전자적 전송이나 처리를
                                    위한 인력, 시설, 전자적 장치 등의 정보기술부문 및 전자금융업무에 관하여 금융감독위원회가 정하는 기준을
                                    준수합니다.
                                </p>
                            </dd>
                            <dt class="terms-title">제14조 (약관외 준칙 및 관할)</dt>
                            <dd class="terms-cont">
                                <ol class="list-type-counter">
                                    <li>
                                        이 약관에서 정하지 아니한 사항에 대하여는 전자금융거래법, 전자상거래 등에서의 소비자 보호에 관한
                                        법률, 여신전문금융업법 등 소비자보호 관련 법령에서 정한 바에 따릅니다.
                                    </li>
                                    <li>회사와 이용자간에 발생한 분쟁에 관한 관할은 민사소송법에서 정한 바에 따릅니다.</li>
                                    <li>
                                        회사와 이용자 사이에 개별적으로 합의한 사항이 이 약관에 정한 사항과 다를 때에는 그 합의사항을 이
                                        약관에 우선하여 적용합니다.
                                    </li>
                                </ol>
                            </dd>
                        </dl>
                    </div>
                    <!-- //. 전자지급결제대행 서비스 이용 동의 -->
                </div>
            </div>
            <!--//. section content -->
            <!-- footer -->
            <div class="footer-wrap">
                <footer class="footer-layout">
                    <div class="footer-head">
                        <div class="footer-inner">
                            <div class="f-logo">(주)엘지씨엔에스</div>
                            <ul class="f-side-menu">
                                <li><a href="" class="link-side">이용약관</a></li>
                                <li>
                                    <a href="" class="link-side"><strong> 개인정보 처리 방침</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-info">
                        <div class="footer-inner">
                            <dl class="f-com-info">
                                <dt>대표이사</dt>
                                <dd>김영섭</dd>
                                <dt>사업자등록번호</dt>
                                <dd>116-81-19477</dd>
                                <dt>개인정보 보호 책임자</dt>
                                <dd>이정무</dd>
                                <dt>사업자 주소</dt>
                                <dd>서울특별시 강서구 마곡중앙8로 71(마곡동)</dd>
                            </dl>
                        </div>
                    </div>
                </footer>
            </div>
            <!--//. footer  -->
        </div>
    </body>
</html>
