<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/reset.css" />
    <link rel="stylesheet" href="../static/assets/css/setting.css" />
    <link rel="stylesheet" href="../static/assets/css/layout.css" />
    <script defer src="../static/assets/js/common.js"></script>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div class="header-wrap">
        <header id="header" class="header-layout">
          <!-- index 에서 보여질 로고 -->
          <!-- <h1 class="header-logo">
                            <a href="#">인재개발 플랫폼 Butter Time</a>
                        </h1> -->
          <!-- sub page 에서 보여질 로고 및 아이콘 -->
          <div class="sub-header">
            <a href="#" class="btn-logo-home">홈으로 이동</a>
            <h1 class="title">콘텐츠 제목</h1>
          </div>

          <div class="header-response">
            <div class="header-inner">
              <nav class="gnb-area">
                <ul class="gnb-menu">
                  <li class="gnb-item"><a href="#">버터타임 소개</a></li>
                  <li class="gnb-item"><a href="#">수강신청</a></li>
                  <li class="gnb-item dropdown">
                    <a href="#">나의 강의실</a>
                    <div class="gnb-submenu-wrap">
                      <ul class="gnb-submenu">
                        <li><a href="#">학습현황</a></li>
                        <li><a href="#">결제현황</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="gnb-item dropdown">
                    <a href="#">고객센터</a>
                    <div class="gnb-submenu-wrap">
                      <ul class="gnb-submenu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="http://www.naver.com">1:1메뉴</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
              <div class="header-infomenu">
                <a href="#" class="c-btn-i-menu info">정보수정</a>
                <a href="#" class="c-btn-i-menu logout">로그아웃</a>
              </div>
              <div class="header-sidemenu">
                <a href="#" class="s-menu">이용약관</a>
                <a href="#" class="s-menu"
                  ><strong>개인정보 처리 방침</strong></a
                >
              </div>
              <button class="btn-drawer-close">닫기</button>
            </div>
          </div>
          <!-- only mobile  -->
          <button class="btn-drawer-open">전체메뉴</button>
        </header>
      </div>
      <!--//. header -->
      <!-- section content -->
      <div class="section-content full">
        <div class="section-subnav-area">
          <nav class="subnav-wrap">
            <ul class="subnav-item-list">
              <li class="subnav-item">
                <a href="f_005.html" class="menu-item active"
                  >개인정보 마케팅 활용 동의</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="section-middlearea">
          <!-- 개인정보 마케팅 활용 동의 -->
          <div class="terms-area">
            <table class="default-table">
              <colgroup>
                <col span="3" style="width: 25%" />
              </colgroup>
              <thead>
                <tr>
                  <th>수집방법</th>
                  <th>수집 항목</th>
                  <th>수집 및 이용목적</th>
                  <th>활용 동의 기간</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>회원가입 및 관리</td>
                  <td>이메일, 휴대폰번호</td>
                  <td rowspan="3">
                    <ul class="list-type-bullet">
                      <li>신규 상품 또는 서비스 안내</li>
                      <li>이벤트 정보와 혜택 제공</li>
                      <li>콘텐츠 검색 및 추천 서비스 제공</li>
                      <li>맞춤형 광고 및 마케팅 전송</li>
                      <li>마케팅 목적 활용</li>
                      <li>고객 분석 및 앱 개선</li>
                    </ul>
                  </td>
                  <td rowspan="3">
                    <span class="em-underline"
                      >회원탈퇴 또는 동의 철회 시까지</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>서비스 이용 과정에서 생성</td>
                  <td>
                    온라인식별자(광고ID, UUID 등), 서비스 이용기록, 접속 로그,
                    IP, 단말기 정보(제조사, OS종류, 버전), 불량 이용 기록
                  </td>
                </tr>
                <tr>
                  <td>웹/앱 로그 수집 분석 도구</td>
                  <td>
                    웹/앱 서비스 방문 기록, 검색·클릭등 사용 기록, 광고식별자
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="t-txt bold">
              회사는 개인정보를 다음 각 호의 목적을 위해 수집합니다. 수집한
              개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이
              변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를
              받는 등 필요한 조치를 이행할 예정입니다.
            </div>
            <div class="t-txt bold mt-16">
              본 마케팅 활용 동의 항목은 선택사항이므로 동의를 거부하는 경우에도
              버터타임 서비스를 이용에는 영향이 없습니다. 다만 거부시 동의를
              통해 제공 가능한 각종 혜택 및 이벤트 안내를 받아보실 수 없습니다.
            </div>
          </div>
          <!-- //. 개인정보 마케팅 활용 동의 -->
        </div>
      </div>
      <!--//. section content -->
      <!-- footer -->
      <div class="footer-wrap">
        <footer class="footer-layout">
          <div class="footer-head">
            <div class="footer-inner">
              <div class="f-logo">(주)엘지씨엔에스</div>
              <ul class="f-side-menu">
                <li><a href="" class="link-side">이용약관</a></li>
                <li>
                  <a href="" class="link-side"
                    ><strong> 개인정보 처리 방침</strong></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-info">
            <div class="footer-inner">
              <dl class="f-com-info">
                <dt>대표이사</dt>
                <dd>김영섭</dd>
                <dt>사업자등록번호</dt>
                <dd>116-81-19477</dd>
                <dt>개인정보 보호 책임자</dt>
                <dd>이정무</dd>
                <dt>사업자 주소</dt>
                <dd>서울특별시 강서구 마곡중앙8로 71(마곡동)</dd>
              </dl>
            </div>
          </div>
        </footer>
      </div>
      <!--//. footer  -->
    </div>
  </body>
</html>
