<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="viewport-fit=cover, width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/assets/css/reset.css" />
        <link rel="stylesheet" href="../static/assets/css/setting.css" />
        <link rel="stylesheet" href="../static/assets/css/layout.css" />
        <script src="../static/assets/js/swiper-bundle.min.js"></script>
        <script defer src="../static/assets/js/common.js"></script>
    </head>
    <body>
        <div id="wrap">
            <!-- header -->
            <div class="header-wrap">
                <header id="header" class="header-layout">
                    <!-- index 에서 보여질 로고 -->
                    <!-- <h1 class="header-logo">
                        <a href="#">인재개발 플랫폼 Butter Time</a>
                    </h1> -->
                    <!-- sub page 에서 보여질 로고 및 아이콘 -->
                    <div class="sub-header">
                        <a href="#" class="btn-logo-home">홈으로 이동</a>
                        <h1 class="title">콘텐츠 제목</h1>
                    </div>

                    <div class="header-response">
                        <div class="header-inner">
                            <nav class="gnb-area">
                                <ul class="gnb-menu">
                                    <li class="gnb-item"><a href="#">버터타임 소개</a></li>
                                    <li class="gnb-item"><a href="#">수강신청</a></li>
                                    <li class="gnb-item dropdown">
                                        <a href="#">나의 강의실</a>
                                        <div class="gnb-submenu-wrap">
                                            <ul class="gnb-submenu">
                                                <li><a href="#">학습현황</a></li>
                                                <li><a href="#">결제현황</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="gnb-item dropdown">
                                        <a href="#">고객센터</a>
                                        <div class="gnb-submenu-wrap">
                                            <ul class="gnb-submenu">
                                                <li><a href="#">공지사항</a></li>
                                                <li><a href="http://www.naver.com">1:1메뉴</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-infomenu">
                                <a href="#" class="c-btn-i-menu info">정보수정</a>
                                <a href="#" class="c-btn-i-menu logout">로그아웃</a>
                            </div>
                            <div class="header-sidemenu">
                                <a href="#" class="s-menu">이용약관</a>
                                <a href="#" class="s-menu"><strong>개인정보 처리 방침</strong></a>
                            </div>
                            <button class="btn-drawer-close">닫기</button>
                        </div>
                    </div>
                    <!-- only mobile  -->
                    <button class="btn-drawer-open">전체메뉴</button>
                </header>
            </div>
            <!--//. header -->

            <!-- section content -->
            <div class="section-content">
                <!-- section middlearea -->
                <!-- 상품상세 상단 -->
                <div class="detail-top-wrap">
                    <div class="detail-top">
                        <div class="detail-thumb product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="../static/assets/img/product-img-01.jpg"
                                        alt="인재개발플랫폼 X 버터타임 오픈기념!, 1+1개월(60일) 9,900원"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="../static/assets/img/product-img-02.jpg"
                                        alt="인재개발플랫폼 X 버터타임 오픈기념!,3+3개월(180일) 29,700원"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="../static/assets/img/product-img-03.jpg"
                                        alt="인재개발플랫폼 X 버터타임 오픈기념!,6+6개월(365일) 59,400원"
                                    />
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="detail-info">
                            <div class="di-header">
                                <span class="title-desc">[북클래스]</span>
                                <h2 class="h2">베스트셀러 영어교재로 배우는 영어회화</h2>
                            </div>
                            <div class="option-list book-option">
                                <div class="option-item date">
                                    <div class="label">신청기간</div>
                                    <div class="cont">
                                        <strong>2023년 2월 20일(월) ~ 2023년 2월 28일(화)</strong>
                                    </div>
                                </div>
                                <div class="fold-wrap">
                                    <div class="fold-box">
                                        <div class="option-item">
                                            <div class="label">학습기간</div>
                                            <div class="cont">수강 신청일 기준 다음날 부터 학습시작</div>
                                        </div>
                                        <div class="option-item">
                                            <div class="label">과정시간</div>
                                            <div class="cont">약 5분(1개 컨텐츠 수행시 평균 소요시간) * 전체 컨텐츠 수</div>
                                        </div>
                                        <div class="option-item">
                                            <div class="label">교재</div>
                                            <div class="cont">실물교재 미포함</div>
                                        </div>
                                        <div class="option-item">
                                            <div class="label">수료기준</div>
                                            <div class="cont">학습 기간 만료시 자동 이수 완료 처리</div>
                                        </div>
                                    </div>
                                    <button class="fold-btn">수강정보 자세히 보기 <i class="toggle"></i></button>
                                </div>
                                <div class="option-item option-etc">
                                    <div class="label">상품옵션</div>
                                    <div class="cont">
                                        <div class="card-list">
                                            <div class="card-box">
                                                <input type="radio" id="option-1-1" name="option-1" checked />
                                                <label for="option-1-1" class="item-label">
                                                    <span class="flag">50%할인</span>
                                                    <div class="title">1+1개월 <br class="is-mobile" />(60일)</div>
                                                    <div class="price-group">
                                                        <span class="o-price">19,800원</span>
                                                        <span class="c-price">9,900원</span>
                                                        <span class="d-price">(4,950원/월)</span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="card-box">
                                                <input type="radio" id="option-1-2" name="option-1" />
                                                <label for="option-1-2" class="item-label">
                                                    <span class="flag">50%할인</span>
                                                    <div class="title">3+3개월<br class="is-mobile" />(180일)</div>
                                                    <div class="price-group">
                                                        <span class="o-price">59,400원</span>
                                                        <span class="c-price">29,700원</span>
                                                        <span class="d-price">(4,950원/월)</span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="card-box">
                                                <input type="radio" id="option-1-3" name="option-1" />
                                                <label for="option-1-3" class="item-label">
                                                    <span class="flag">50%할인</span>
                                                    <div class="title">6+6개월 <br class="is-mobile" />(360일)</div>
                                                    <div class="price-group">
                                                        <span class="o-price">118,800원</span>
                                                        <span class="c-price">59,400원</span>
                                                        <span class="d-price">(4,950원/월)</span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2023-06-22 삭제 -->
                    <!-- <div class="ad-btn-group">
                        <a href="#" class="c-btn-ad">버터타임 입점 기념 오픈 혜택! <strong>딱 한달간 특별할인!</strong></a>
                    </div> -->
                    <div class="btn-group fixed-btn">
                        <a href="#" class="c-btn-primary-block">수강신청하기</a>
                        <!-- <a href="#" class="c-btn-primary-block disabled">이미 수강중인 상품입니다.</a> -->
                    </div>
                </div>
                <!--//. 상품상세 상단 -->
                <!-- 상품상세 -->
                <div class="detail-view">
                    <!-- 2023-05-17 상세이미지 변경  -->
                    <div class="product-row">
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-01.jpg"
                                alt="이제, 버터타임과 함께 영어가 일상에 버터처럼 녹아들어,
                            영어로 자유를 이루는 삶이 될 시간입니다."
                            />
                        </div>
                        <div class="product-vod-wrap">
                            <div class="vod-container">
                                <div class="video-poster active">
                                    <img src="../static/assets/img/product-video-thumb.jpg" alt="" />
                                </div>
                                <div id="player" class="product-video"></div>

                                <button type="button" id="playBtn" class="video-play" onclick="onclickPlay()">동영상 재생</button>
                                <script src="http://www.youtube.com/player_api"></script>
                                <script>
                                    var player;
                                    const playBtn = document.getElementById("playBtn");
                                    const thumb = document.querySelector(".video-poster");
                                    function onYouTubeIframeAPIReady() {
                                        player = new YT.Player("player", {
                                            height: "100%",
                                            width: "100%",
                                            videoId: "3QftNSSbp_s",
                                            events: {
                                                onStateChange: onPlayerStateChange,
                                            },
                                        });
                                    }

                                    function onclickPlay() {
                                        player.playVideo();
                                    }

                                    function onPlayerStateChange(event) {
                                        if (event.data == YT.PlayerState.PLAYING) {
                                            playBtn.style.display = "none";
                                            thumb.classList.remove("active");
                                        } else if (event.data == YT.PlayerState.ENDED) {
                                            playBtn.style.display = "block";
                                            thumb.classList.add("active");
                                        }
                                    }
                                </script>
                            </div>
                            <img src="../static/assets/img/product/product-0517-02.jpg" alt="영어로 자유로워질 시간 버터타임!" />
                        </div>
                        <div>
                            <img src="../static/assets/img/product/product-0517-03.jpg" alt="문쌤 추천! 스마트한 요즘 영어 공부 버터타임" />
                        </div>

                        <div class="pm-relative">
                            <div class="pm-abs pm-01">
                                <img src="../static/assets/img/product/product-0517-05-01.png" alt="" />
                            </div>
                            <img
                                src="../static/assets/img/product/product-0517-05.jpg"
                                alt="버터타임 오픈 프로모션,  행사기간   2023년 5월 24일 부터 ~ 6월 23일 까지"
                            />
                            <div class="pm-abs pm-02">
                                <img src="../static/assets/img/product/product-0517-05-02.png" alt="" />
                            </div>
                        </div>
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-06.jpg"
                                alt="영어로부터 자유로워질 시간 버터타임!, 월 9,900원으로 버터타임의 모든 콘텐츠를 무제한 이용해 보세요."
                            />
                        </div>
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-07.jpg"
                                alt="상황대화, 다양한 상황별 약 500여개 AI 대화 학습 콘텐츠 제공"
                            />
                        </div>
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-08.jpg"
                                alt="AI 기반의 영어 학습 플랫폼, 버터타임의 영어 회화 학습의 기술력과 전문성은
                                이미 국내외에서 인정받고 있습니다."
                            />
                        </div>
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-09.jpg"
                                alt="차별화된 인공지능 대화 기술, 인공지능 대화 기술로 실제 대화 하듯이 영어 회화 학습을재미있고 쉽게 할 수 있습니다."
                            />
                        </div>
                        <div>
                            <img
                                src="../static/assets/img/product/product-0517-10.jpg"
                                alt="AI 레벨테스트, 학습자에게 가장 적합한 콘텐츠를 제공합니다."
                            />
                        </div>
                        <div>
                            <img src="../static/assets/img/product/product-0517-11.jpg" alt="AI 발음평가와 연습, 발음 하나 하나 정확한
                            평가와 반복 학습으로 학습 효과를 높입니다."" />
                        </div>
                    </div>
                    <div class="product-view-info">
                        <p class="title">학습 시 유의사항</p>
                        <ul class="list-type-bullet">
                            <li>
                                본 과정은 모바일 앱을 통해 학습이 진행됩니다. 원활한 학습을 위해서 반드시
                                <strong>‘버터타임(Buttertime)앱’을 다운로드</strong>해주세요.
                            </li>
                            <li>
                                학습은 결제일 기준 자정 이후에 시작되며 수강기간 동안 횟수와 서비스 사용 시간의 제약없이 학습이 가능합니다.
                            </li>
                            <li>
                                학습 시간은 해당 콘텐츠의
                                <strong>‘최초 학습분’만 인정</strong>되며, 반드시 <strong></strong>각 학습 단계의 마지막 문장을 발화하여
                                완전히 종료해야 합니다.<br />
                                <span>예) 특정 콘텐츠를 2회 이상 반복 학습할 경우, 최초 학습 분만</span>
                                학습 시간으로 인정
                            </li>
                            <li>서비스 이용 시 5G, LTE 또는 개인 보안 WIFI를 이용을 권장합니다.</li>
                            <li>
                                학습 확인증은 나의 강의실 > 학습현황에서 발급 가능하며, 내용은 임의 수정이 불가합니다. 임의 수정으로 인해
                                발생하는 불이익에 대한 책임은 이용자 본인에게 있습니다.
                            </li>
                        </ul>
                        <p class="title">구매 유의사항</p>
                        <ul class="list-type-bullet">
                            <li>본 과정은 신용카드 결제로만 가능합니다.</li>
                            <li>
                                본 과정은 구독 상품으로 수강기간 내 1개의 상품만 수강 가능하며, 수강기간이 끝나면 추가 수강 신청이
                                가능합니다.<br />
                                <span>
                                    예) 1개월 구매 시, 수강 기간에는 3개월 또는 6개월 추가 구매 불가학습 수강 기간은 1개월 = 30일로
                                    단일화하며 월별 일수와 무관합니다.
                                </span>
                            </li>
                            <li>
                                환불은 결제 완료 후 7일 이내에만 가능합니다. 환불 규정은 서비스 이용약관 제14조 (청약철회 및 대금의 환불)을
                                참고해주세요.
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//. 상품상세 -->

                <script>
                    // product slider
                    // PP11021025-5966 auto slide 설정 추가
                    const swiper = new Swiper(".product-slider", {
                        loop: true,
                        loopAdditionalSlides: 1,
                        pagination: {
                            el: ".swiper-pagination",
                            clickable: true,
                        },
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                    });

                    const foldBox = document.querySelector(".fold-box");
                    const foldBtn = document.querySelector(".fold-btn");
                    foldBtn.addEventListener("click", () => {
                        foldBox.classList.toggle("active");
                    });
                </script>
            </div>
            <!--//. section content -->
            <!-- footer -->
            <div class="footer-wrap">
                <footer class="footer-layout">
                    <div class="footer-head">
                        <div class="footer-inner">
                            <div class="f-logo">(주)엘지씨엔에스</div>
                            <ul class="f-side-menu">
                                <li><a href="" class="link-side">이용약관</a></li>
                                <li>
                                    <a href="" class="link-side"><strong> 개인정보 처리 방침</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-info">
                        <div class="footer-inner">
                            <dl class="f-com-info">
                                <dt>대표이사</dt>
                                <dd>김영섭</dd>
                                <dt>사업자등록번호</dt>
                                <dd>116-81-19477</dd>
                                <dt>개인정보 보호 책임자</dt>
                                <dd>이정무</dd>
                                <dt>사업자 주소</dt>
                                <dd>서울특별시 강서구 마곡중앙8로 71(마곡동)</dd>
                            </dl>
                        </div>
                    </div>
                </footer>
            </div>
            <!--//. footer  -->
        </div>
    </body>
</html>
